/* VideoCard.css */
.video-card {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 360px;
  border: none; /* Убираем стандартную рамку */
  border-radius: 15px;
  overflow: hidden;
  background: #2c2c2c; /* Темный фон */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s, transform 0.3s;
  margin: 20px;
  position: relative;
}

.video-card:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.7);
  transform: translateY(-10px);
}

.video-thumbnail {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  border-bottom: 3px solid #ff5722; /* Цвет рамки снизу */
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.video-thumbnail:hover .preview-image {
  transform: scale(1.1);
}

.video-info {
  padding: 20px;
  text-align: center;
}

.video-title {
  font-size: 22px;
  font-weight: bold;
  margin: 15px 0 10px;
  color: #f5f5f5; /* Светлый цвет текста */
  transition: color 0.3s;
}

.video-title:hover {
  color: #ff9800; /* Яркий цвет при наведении */
}

.video-description {
  font-size: 16px;
  color: #bdbdbd;
  line-height: 1.5;
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-description:hover {
  color: #03a9f4;
  cursor: pointer;
}

.video-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 16px;
}

.video-views,
.video-likes {
  display: flex;
  align-items: center;
  color: #f5f5f5;
}

.video-views svg,
.video-likes svg {
  margin-right: 5px;
  color: #03a9f4;
}

.video-card::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 2px solid rgba(255, 87, 34, 0.5);
  border-radius: 25px;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.video-card:hover::before {
  opacity: 1;
}

.video-likes {
  color: #020202; /* Цвет для контраста */
  font-weight: bold;
}
