.video-card {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 360px;
  border: 1px solid #e3e3e3;
  border-radius: 12px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  margin: 20px;
  position: relative;
  overflow: hidden; /* Обрезка для аккуратного эффекта */
}

.video-card:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-3px);
}

.video-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Легкий фон при наведении */
  opacity: 0;
  transition: opacity 0.3s;
}

.video-card:hover::after {
  opacity: 1; /* Показать фон при наведении */
}

.video-thumbnail {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 12px 12px 0 0; /* Закругленные углы сверху */
  position: relative;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.video-thumbnail:hover .preview-image {
  transform: scale(1.05); /* Увеличение изображения при наведении */
}

.video-info {
  padding: 15px;
  text-align: center; /* Выравнивание текста по центру */
}

.video-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px;
  color: #333;
  transition: color 0.3s;
}

.video-title:hover {
  color: #ff5722; /* Цвет заголовка при наведении */
}

.video-description {
  font-size: 14px;
  color: #606060;
  line-height: 1.5;
  max-height: 60px; /* Ограничение высоты описания */
  overflow: hidden;
  text-overflow: ellipsis; /* Обрезка текста */
  white-space: nowrap; /* Обрезка текста на одной строке */
}

.video-description:hover {
  color: #2980b9; /* Цвет описания при наведении */
  cursor: pointer;
}
