.video-card {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 360px;
  border: none; /* Убираем стандартную рамку */
  border-radius: 20px;
  overflow: hidden;
  background: linear-gradient(135deg, #fdfbfb 0%, #ebedee 100%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
  margin: 20px;
  position: relative;
}

.video-card:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transform: translateY(-10px);
}

.video-thumbnail {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}

.video-thumbnail:hover .preview-image {
  transform: scale(1.1); /* Больше увеличение для более сильного эффекта */
}

.video-info {
  padding: 20px;
  text-align: center;
}

.video-title {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0 10px;
  color: #2c3e50;
  transition: color 0.3s;
}

.video-title:hover {
  color: #e74c3c; /* Более яркий цвет при наведении */
}

.video-description {
  font-size: 16px;
  color: #7f8c8d;
  line-height: 1.5;
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.video-description:hover {
  color: #3498db; 
  cursor: pointer;
}

.video-stats {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  font-size: 16px;
}

.video-views,
.video-likes {
  display: flex;
  align-items: center;
  color: #2c3e50;
}

.video-views svg,
.video-likes svg {
  margin-right: 5px;
  color: #3498db;
}
