/* Watch.css */
.watch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Высота экрана */
    background-color: #f0f0f0; /* Светлый фон */
  }
  
  .watch-video {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff; /* Белый фон */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Тень для рамки */
  }
  
  video {
    width: 100%; /* Ширина видео заполняет родительский элемент */
    border-radius: 10px;
  }
  